<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto RDU</title>
    <link rel="stylesheet" href="c:\Users\unesp\OneDrive\Desktop\mi_proyecto_web\app\templates\css\style.css">
</head>

<body>
    <header>
        <h1>Bienvenido al Proyecto RDU</h1>
        <!-- Logo del Proyecto RDU -->
        <img src="c:\Users\unesp\Downloads\RDU.png.png" alt="Logo del Proyecto RDU">
    </header>
    <nav>
        <a href="#que-es">¿Qué es RDU?</a>
        <a href="#objetivo">Objetivo</a>
        <a href="#participantes">Participantes</a>
        <a href="#change-org">Enlace a la Propuesta</a>
    </nav>
    <section>
        <article id="que-es">
            <h2>¿Qué es RDU?</h2>
            <p>El proyecto RDU (Redireccionamiento del Unicel) es una iniciativa ciudadana cuyo objetivo es recolectar
                firmas para solicitar a las autoridades la prohibición del uso del unicel (poliestireno expandido) y
                promover el uso de alternativas no contaminantes.</p>
            <!-- Imagen relacionada con la sección '¿Qué es RDU?' -->
            <img src="c:\Users\unesp\OneDrive\Desktop\mi_proyecto_web\app\static\monton de basura.jpg"
                alt="imagen relacionada a la contaminacion">
        </article>
        <article id="objetivo">
            <h2>Objetivo del Proyecto</h2>
            <p>El objetivo principal del proyecto RDU es recolectar firmas suficientes para presentar una petición
                formal a las autoridades locales. Esta petición busca prohibir el uso del unicel en envases y productos
                de un solo uso y fomentar la adopción de materiales alternativos y ecológicos que no dañen el medio
                ambiente.</p>
            <!-- Imagen relacionada con la sección 'Objetivo' -->

        </article>
        <article id="participantes">
            <h2>Participantes del Proyecto</h2>
            <p>El proyecto RDU está compuesto por un equipo comprometido de voluntarios que
                trabajan juntos para crear conciencia sobre los peligros del uso del unicel y promover alternativas
                sostenibles.</p>
            <ul>
                <li>Gilberto Ceballos Morales</li>
                <li>Luis Emilio Cruz Mendoza</li>
                <li>German Uriel Evangelista Martinez</li>
                <li>Horemheb Adair Franco Valencia</li>
            </ul>
        </article>
        <article id="por-que-se-hace">
            <h2>¿Por qué se hace?</h2>
            <p>Como ya todos sabemos, el unicel es un material muy usado en nuestra sociedad actual, pero esto causa
                muchos problemas de contaminación en el municipio. Esta contaminación afecta a las familias Abasolenses
                en varios aspectos, generando posibles daños en Abasolo:</p>
            <h3>Daños posibles:</h3>
            <ul>
                <li><strong>Contaminación del Suelo y Agua:</strong> El unicel tarda entre 500 y 1000 años en
                    descomponerse, liberando microplásticos que contaminan el suelo y los cuerpos de agua.</li>
                <li><strong>Daño a la Fauna Marina:</strong> Los animales marinos pueden confundir el unicel con
                    alimento, lo que puede llevar a su ingestión y muerte.</li>
                <li><strong>Efecto Invernadero:</strong> Al quemarse, el unicel libera gases que contribuyen al efecto
                    invernadero.</li>
                <li><strong>Deterioro de la Capa de Ozono:</strong> Los gases químicos utilizados en la fabricación del
                    unicel pueden destruir la capa de ozono.</li>
                <li><strong>Problemas de Salud Pública:</strong> Los componentes químicos del unicel son posibles
                    carcinógenos y pueden causar problemas hormonales y al sistema nervioso central.</li>
                <li><strong>Sobrecarga de Vertederos:</strong> Debido a su volumen y durabilidad, el unicel ocupa
                    grandes espacios en los vertederos, limitando su capacidad.</li>
                <li><strong>Alteración de Ecosistemas Terrestres:</strong> Los residuos de unicel pueden alterar los
                    hábitats naturales y afectar la biodiversidad terrestre.</li>
                <li><strong>Impacto Visual Negativo:</strong> La acumulación de unicel en el ambiente puede causar un
                    impacto visual negativo, afectando el turismo y la percepción de la ciudad.</li>
                <li><strong>Costos de Limpieza:</strong> La gestión y limpieza de residuos de unicel pueden resultar en
                    costos significativos para la comunidad y el gobierno local.</li>
                <li><strong>Reducción de la Calidad de Vida:</strong> La presencia de unicel en el ambiente puede
                    reducir la calidad de vida de los residentes, afectando su bienestar y disfrute del entorno natural.
                </li>
            </ul>
        </article>
        <article id="change-org">
            <h2>Enlace a la Propuesta</h2>
            <p>Puedes apoyar nuestra causa firmando la propuesta en <a href="https://chng.it/rqVFk7qCHB"
                    target="_blank">Change.org</a>. ¡Tu firma es importante para hacer un cambio positivo!</p>
            <!-- Imagen relacionada con la sección 'Enlace a la Propuesta' -->
            <img src="c:\Users\unesp\Downloads\código-qr-de-la-petición.png" alt="codigo QR de la propuesta">
        </article>

    </section>
    <aside>
        <p>Invitamos a todos los habitantes de Abasolo a unirse a esta causa. Cada acción cuenta, y juntos podemos hacer
            una diferencia significativa. Participa en nuestras actividades, firma la petición y sé parte del cambio
            hacia un Abasolo más verde y saludable.</p>
    </aside>
    <footer>
        <p>© 2024 Proyecto RDU. Todos los derechos reservados.</p>
    </footer>
    <script>
        // Aquí puedes agregar tus scripts de JavaScript
    </script>
</body>

</html>